/* Container styling */
.about-container {
    /*max-width: 800px;*/
    /*margin: 0 auto;*/
    /*padding: 20px;*/
    /*background-color: #ffffff;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 8px;*/
    font-family: Arial, sans-serif;
}

/* Header styling */
.about-name {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333333;
}

/* Menu styling */
.about-menu {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
    color: #666666;
    transition: color 0.3s, border-bottom 0.3s;
}

.tab-button:hover,
.tab-button.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

/* Content styling */
.about-content {
    text-align: center;
    color: #555555;
}

.tab-content {
    animation: fadeIn 0.5s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
