.app-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #e0e8e7;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#scroll {
    overflow: auto;
}

#no-scroll {
    overflow: hidden;
}

.App {
    text-align: center;
}

:root {
    --siderbar-primary-color: #965f41;
    --fade-color: #965f31;
    --hover-color: orange;
    --link-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    --transition-duration: 0.3s;
    --link-scale: 1.2;
    --link-margins: 10px;
    --sidebar-width: 300px;
    --collapsed-width: 60px;
    --profile-pic-size: 150px;
    --sidebar-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
